.footer {
  background: $color3 url('/images/footer2.jpg') center center / cover no-repeat;
  color: $color;
  padding-top: 80px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 29, 56, .65);
    z-index: 10;
  }
  > div {
    position: relative;
    z-index: 20;
  }
  h3 {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    text-shadow: 1px 1px rgba(0, 0, 0, .4);
  }
  p {
    margin: 0;
    font-size: 20px;
    text-shadow: 1px 1px rgba(0, 0, 0, .4);
  }
  &--email_phone {
    > div {
      margin: 0px 10px;
      i {
        font-size: 36px;
        margin-right: 10px;
      }
      span {
        font-size: 16px;
        text-shadow: 1px 1px rgba(0, 0, 0, .4);
      }
    }
  }
  &--socials {
    a {
      width: 60px;
      height: 60px;
      border: 1px solid $color;
      @include border-radius(50%);
      color: $color;
      position: relative;
      text-align: center;
      margin: 0 .5rem;
      i {
        font-size: 28px;
        padding-top: 16px;
      }
    }
  }
  .footer--bottom {
    border-top: 1px solid $color;
    padding: 15px 0;
    p {
      margin: 0;
      font-size: 14px;
      text-shadow: 1px 1px rgba(0, 0, 0, .4);
    }
    img {
      max-width: 130px;
    }
  }
}
.btn_whatsapp {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 30;
  img {
    width: 50px;
  }
}