.portfolio {
    &--list {
        &--item {
            flex: 1;
            @media all and (max-width: 480px) {
                max-width: 100%;
                flex: 0 0 100%;
              }
              a {
                  height: 100%;
                  display: block;
              }
              a {
                  display: flex;
                  flex-direction: column;
                  background-color: $color;
              }
            &--img {
                min-height: 250px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 0 0;
                @include transition(all 1s);
                border-bottom: 1px solid $color3;
                &:hover {
                    background-position: 0 100%;
                    @include transition(all 5s);
                }
            }
            &--desc {
                border: 1px solid $color;
                padding: 10px;
                background-color: $color;
                color: $text_color;
                
                h3 {
                    color: $title_color;
                    font-size: 16px;
                }
            }
        }
    }
}
