.portfolio {
    &--list {
        &--item {
            @media all and (max-width: 480px) {
               max-width: 100%;
               flex: 0 0 100%;
            }
            a {
                background-color: $color;
                position: relative;
                height: 100%;
                &:hover {
                    .portfolio--list--item--icon {
                        opacity: 1;
                    }
                }
            }
            &--icon {
                position: absolute;
                right: 10px;
                bottom: 10px;
                color: $color1;
                z-index: 20;
                transition: all .5s;
                font-size: 18px;
                @include media-breakpoint-up(lg) {
                    opacity: 0;
                }
            }
            &--img {
                min-height: 250px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 0 0;
                @include transition(all 1s);
                border-bottom: 1px solid $color3;
                &:hover {
                    background-position: 0 100%;
                    @include transition(all 5s);
                }
            }
            &--desc {
                border: 1px solid $color;
                padding: 10px;
                background-color: $color;
                color: $text_color;
                position: relative;
                z-index: 10;
                h3 {
                    color: $title_color;
                    font-size: 16px;
                }
            }
        }
    }
}
