.specialties {
  &--list {
    > div {
      @media all and (max-width: 380px) {
        max-width: 100%;
        flex: 0 0 100%;
      }
    }
    &--item {
      border: 1px solid hsl(0, 0%, 85%);
      display: block;
      text-align: center;
      padding: 20px;
      min-height: 260px;
      svg {
        width: 60px;
        height: 60px;
        margin-bottom: 1.5rem;
        fill: $color1;
      }
      h3 {
        color: $color1;
        font-size: 18px;
        color: $title_color;
        @include media-breakpoint-up(md) {
          font-size: 24px;
        }
      }
      p {
        color: $text_color;
        font-size: 14px;
      }
    }
  }
}