$color: #FFFFFF;
$color1: #615CFD;
$color2: #D465EF;
$color3: #001D38;
$font: "Kanit", Helvetica, Arial, sans-serif;
$font2: "Mulish", Helvetica, Arial, sans-serif;
$title_color: #001D38;
$text_color: #727272;